# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Listing popular languages in Data Science 
* Create order and Unordered List 
* Create Tables
* Do math

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Oscar A Rodriguez